:root{
    --cor-de-fundo:000000;
    --branco-principal: #FFFFFF;
    --cinza-secundario:#C0C0C0;
    --botao-azul: #167BF7;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat; 
    background-size: contain;
}

.container {
    height: 100vh;
}

.container {
background-color: var(--botao-azul);
border-radius: 5px;
padding: 1em;
color: var(--branco-principal);
}